@model TownRegistryASP.ViewModels.CitizenIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Citizens</h2>
<table class="table table-bordered table-hover" id="citizentable">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (var citizen in Model.Citizens)
            {
                <tr>
                    <td>@citizen.FirstName</td>
                    <td>@citizen.LastName</td>
                    <td>@citizen.Status</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Citizens", new { id = citizen.CitizenID }, new { @class="btn bg-warning"})
                        @*<button type="button" class="btn bg-info">View</button>
                        <button type="button" class="btn bg-warning">Edit</button>
                        <button type="button" class="btn bg-danger">Delete</button>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#citizentable').DataTable();
    });
</script>

